<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>
<body id="page-top">
    <%- include('../partials/nav'); %>

        <header class="masthead">
            <%- include('../partials/header'); %>
        </header>
        <footer class="footer py-4">
            <%- include('../partials/footer'); %>
        </footer>
</body>
<%- include('../partials/scripts'); %>
</html>